body {
    background:black;
    color:white;
}

header {
    border-bottom: solid 2px rgb(0, 81, 255);
    padding: 2px;
    font-size: 30px;
}

section{
    background: rgb(123,234,198);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right:5%;
}
    
